<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<p><%= link_to("Voir la landing page de Checkr", home_checkr_path) %></p>
<p><%= link_to("Voir la landing page de Flynn", home_flynn_path) %></p>